@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lora', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-sky-100;
}

ul {
  list-style: none;
}

button {
  @apply bg-sky-600;

  color: #fff;
  text-align: center;

  @apply rounded-2xl;

  width: 30%;
  padding: 5px;
  box-shadow: 2px 2px 2px rgb(96 165 250);
  transition: transform 0.2s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);

  @apply animate-pulse;
}

header {
  padding: 3% 5%;
}

.main {
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.display_div {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.display_top {
  display: flex;
  gap: 20px;
}

.display_body {
  border: 2px solid rgb(34 211 238);

  @apply rounded-md;

  li {
    padding: 5px;
    background-color: rgb(255 228 230);
  }

  li:nth-child(odd) {
    background-color: rgb(251 207 232);
  }
}

.add_div {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;

  .add_form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 10px 10px;
    }

    input::placeholder {
      font-style: italic;
    }

    input:focus {
      outline: none;
    }

    .add_button {
      @apply bg-emerald-300;
    }
  }
}
